/* Blocks */
#hero {
	aspect-ratio: 16 / 1;
	width: 100%;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: var(--stone-500);

	img {
		object-fit: cover;
	}
}


.wrapper {
	margin-block-start: 1rem;
}

#app {
	--field-min-height: 0;

	overflow: scroll;
	
	.legend {
		/* flex-grow: 2; */

		input {
			visibility: hidden;
		}
	}
	
	.legend form > div {
		padding: var(--space-3xs);
		border-bottom: 1px solid var(--color-stone-500);
		min-height: var(--field-min-height);
		
		&:first-of-type {
			font-weight: bold;
			text-transform: uppercase;
		}
		&:last-of-type {
			background-color: transparent;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	
	div.player {
		flex-grow: 1;
	}
	
	> div form {
		display: flex;
		flex-direction: column;
		gap: 0.125rem;
		
		.field {
			min-height: var(--field-min-height);
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: var(--stone-500);
			padding: var(--space-3xs);
			text-align: right;
			
			&:last-of-type {
				font-weight: bold;
				padding: var(--space-3xs);
			}
		}
		
		.player-name {
			width: min-content;
		}
	}
}

.player.p1 .field:first-of-type { background-color: var(--color-violet-300); }
.player.p2 .field:first-of-type { background-color: var(--color-blue-300); }
.player.p3 .field:first-of-type { background-color: var(--color-emerald-300); }
.player.p4 .field:first-of-type { background-color: var(--color-orange-300); }
.player.p5 .field:first-of-type { background-color: var(--color-pink-300); }