/* Blocks */

#app {
	--field-min-height: 50px;
	
	margin-block: var(--space-l-xl, 2rem);
	max-width: fit-content;
	overflow: scroll;
	
	.legend {
		flex-grow: 2;
	}
	
	.legend > div {
		min-height: calc(var(--field-min-height) + 2px);
		border-bottom: 1px solid rgb(238 0 0 / 1);
		
		&:first-of-type {
			background-color: navy;
			color: white;
			text-transform: uppercase;
		}
		&:last-of-type {
			background-color: transparent;
			color: navy;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	
	> div form {
		display: flex;
		flex-direction: column;
		gap: 0.125rem;
		
		.field {
			min-height: var(--field-min-height);
			border-bottom: 1px solid rgb(255 204 0 / 1);
			text-align: center;
			
			&:last-of-type {
				font-weight: bold;
			}
		}
		
		.player-name {
			width: min-content;
		}
	}
}