body {
	font-family: sans-serif;
}

.sheet {
	display: flex;
	flex-flow: row nowrap;
	gap: 0;
}




input {
	font-size: 1.3em; 
	padding: 5px;
	border: 1px solid #eee;
}

form:focus-within input {
	border-color: #696969;
}