/* CSS Reset via: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
	1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
*/
* {
	margin: 0;
}
/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
*/
body {
	/* line-height: 1.5; */
	line-height: calc(1em + 0.5rem);
	-webkit-font-smoothing: antialiased;
}
/*
	5. Improve media defaults
*/
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
/*
	6. Remove built-in form typography styles
*/
input, button, textarea, select {
	font: inherit;
}
/*
	7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}



/* Global variables */

:root {
	--step--2: clamp(0.6944rem, 0.6593rem + 0.1759vi, 0.8rem);
	--step--1: clamp(0.8333rem, 0.7778rem + 0.2778vi, 1rem);
	--step-0: clamp(1rem, 0.9167rem + 0.4167vi, 1.25rem);
	--step-1: clamp(1.2rem, 1.0792rem + 0.6042vi, 1.5625rem);
	--step-2: clamp(1.44rem, 1.269rem + 0.8552vi, 1.9531rem);
	--step-3: clamp(1.728rem, 1.4902rem + 1.189vi, 2.4414rem);
	--step-4: clamp(2.0736rem, 1.7475rem + 1.6303vi, 3.0518rem);
	--step-5: clamp(2.4883rem, 2.0462rem + 2.2106vi, 3.8147rem);
	
	--space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4583rem + 0.2083vi, 0.625rem);
	--space-xs: clamp(0.75rem, 0.6875rem + 0.3125vi, 0.9375rem);
	--space-s: clamp(1rem, 0.9167rem + 0.4167vi, 1.25rem);
	--space-m: clamp(1.5rem, 1.375rem + 0.625vi, 1.875rem);
	--space-l: clamp(2rem, 1.8333rem + 0.8333vi, 2.5rem);
	--space-xl: clamp(3rem, 2.75rem + 1.25vi, 3.75rem);
	--space-2xl: clamp(4rem, 3.6667rem + 1.6667vi, 5rem);
	--space-3xl: clamp(6rem, 5.5rem + 2.5vi, 7.5rem);
	
	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.125rem + 0.625vi, 0.625rem);
	--space-2xs-xs: clamp(0.5rem, 0.3542rem + 0.7292vi, 0.9375rem);
	--space-xs-s: clamp(0.75rem, 0.5833rem + 0.8333vi, 1.25rem);
	--space-s-m: clamp(1rem, 0.7083rem + 1.4583vi, 1.875rem);
	--space-m-l: clamp(1.5rem, 1.1667rem + 1.6667vi, 2.5rem);
	--space-l-xl: clamp(2rem, 1.4167rem + 2.9167vi, 3.75rem);
	--space-xl-2xl: clamp(3rem, 2.3333rem + 3.3333vi, 5rem);
	--space-2xl-3xl: clamp(4rem, 2.8333rem + 5.8333vi, 7.5rem);
	
	/* Custom pairs */
	--space-s-l: clamp(1rem, 0.5rem + 2.5vi, 2.5rem);
	--space-l-2xl: clamp(2rem, 1rem + 5vi, 5rem);
	
	/* Colors */
	--color-bright-pink-crayola: hsla(350, 84%, 68%, 1);
	--color-timberwolf: hsla(17, 22%, 87%, 1);
	--color-moonstone: hsla(194, 50%, 60%, 1);
	--color-columbia-blue: hsla(183, 23%, 82%, 1);
	--color-sunset: hsla(39, 80%, 70%, 1);

	--color-stone-100: #f5f5f4;
	--color-stone-500: #78716c;
	--color-stone-900: #1c1917;

	--color-violet-100: #ede9fe;
	--color-violet-300: #c4b5fd;
	--color-violet-500: #8b5cf6;
	--color-violet-700: #6d28d9;
	--color-violet-900: #4c1d95;

	--color-blue-100: #dbeafe;
	--color-blue-300: #93c5fd;
	--color-blue-500: #3b82f6;
	--color-blue-700: #1d4ed8;
	--color-blue-900: #1e3a8a;

	--color-emerald-100: #d1fae5;
	--color-emerald-300: #6ee7b7;
	--color-emerald-500: #10b981;
	--color-emerald-700: #047857;
	--color-emerald-900: #064e3b;

	--color-orange-100: #ffedd5;
	--color-orange-300: #fdba74;
	--color-orange-500: #f97316;
	--color-orange-700: #c2410c;
	--color-orange-900: #7c2d12;

	--color-pink-100: #fce7f3;
	--color-pink-300: #f9a8d4;
	--color-pink-500: #ec4899;
	--color-pink-700: #be185d;
	--color-pink-900: #831843;
}

body {
	--gutter: 4vw;
	--wrapper-max-width: 90rem;
}